<h1>Listing players</h1>

<table>
  <tr>
    <th>Sur name</th>
    <th>Given name</th>
    <th>Position</th>
    <th>Team abbreviation</th>
    <th>Birth date</th>
    <th>Place of birth</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @players.each do |player| %>
  <tr>
    <td><%= player.sur_name %></td>
    <td><%= player.given_name %></td>
    <td><%= player.position %></td>
    <td><%= player.team_abbreviation %></td>
    <td><%= player.birth_date %></td>
    <td><%= player.place_of_birth %></td>
    <td><%= link_to 'Show', player %></td>
    <td><%= link_to 'Edit', edit_player_path(player) %></td>
    <td><%= link_to 'Destroy', player, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Player', new_player_path %>
