<!DOCTYPE html>
<html>
<head>
  <title>Powerux JQuery Selectable List</title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag 'jquery-1.4.2.min.js', 'jquery-ui-1.8.5.custom.min.js', 'powerux-jquery-selectablelist.js', 'autocomplete-rails.js' %>
  <%= csrf_meta_tag %>
</head>
<body>
	<nav>
		<ul>
			<li><%= link_to "Teams", teams_path %> </li>
			<li><%= link_to "Players", players_path %> </li>
			<li><%= link_to "Team Select", select_teams_path %> </li>
			<li><%= link_to "Player Select", select_players_path %> </li>
		</ul>
	</nav>

<%= yield %>

</body>
</html>
