<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @team.name %>
</p>

<p>
  <b>Abbreviation:</b>
  <%= @team.abbreviation %>
</p>

<p>
  <b>Hometown:</b>
  <%= @team.hometown %>
</p>

<p>
  <b>Latitude:</b>
  <%= @team.latitude %>
</p>

<p>
  <b>Longitude:</b>
  <%= @team.longitude %>
</p>


<%= link_to 'Edit', edit_team_path(@team) %> |
<%= link_to 'Back', teams_path %>
